PORT=5000
DATABASE_URL=postgresql://username:password@host:5432/database




<BrowserRouter>
  <Routes>
    <Route path="/" element={<Home />} />
    <Route path="/dashboard" element={<Dashboard />} />
<Route path="/dashboard/hotel/:hotelId" element={<HotelDetailsPage />} />
    <Route path="/login" element={<Login />} />
  </Routes>
</BrowserRouter>




@app.post("/api/reviews")
def create_review(
    review: ReviewCreate,
    db: Session = Depends(get_db)
):

    new_review = Review(
        name=review.name,
        review=review.review,
        sentiment=review.sentiment,
        accommodation_id=review.accommodation_id
    )

    db.add(new_review)
    db.commit()
    db.refresh(new_review)

    return new_review







    <button
  onClick={isEditing ? updateReview : addReview}
>
  {isEditing ? "Update Review" : "Add Review"}
</button>